* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.WelcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.main {
  position: relative;
  background: linear-gradient(120deg, #304366, #304366 62%, #ff7b8e 62%, #ff7b8e 100%);
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .name {
  margin: 0 10px;
  font-size: 50px;
}

header .logo img {
  max-width: 50px;
  margin-right: 10px;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover,
header a.name {
  color: #ff7b8e;
}

.privacy {
  position: absolute;
  display: flex;
  right: 100px;
  justify-content: center;
  align-items: center;
  background: #ffec7b;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.privacy img {
  margin-right: 10px;
}

.privacy:hover {
  background: #978100;
  color: #fff;
}

.privacy:hover img {
  filter: brightness(0) invert(1);
}

.privacyInmobile {
  display: none;
 }

.contentBx {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoblue img {
  position: absolute;
  margin-left: -252px;
}

.google-icon-wrapper {
  border-radius: 35px;
  border: 3px solid #ffec7b;
  justify-content: center;
  margin-right: 10px;
  display: flex;
  aspect-ratio: 1;
  width: 20%;
}

.btn {
  min-width: 161px;
}

.contentBx .text {
  max-width: 500px;
}

.contentBx .text h1 {
  font-size: 6em;
  color: #ff7b8e;
}

.contentBx .text h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff;
}

.contentBx .text P {
  font-size: 1.1em;
  line-height: 1.8em;
  color: #fff;
}

.button_cont {
  align-items: center;
  background: #ff7b8e;
  color: #fff;
  display: inline-flex;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.1em;
  margin: 5px 20px 5px 0;
  border-radius: 35px;
  cursor: pointer;
}

.button_cont img {
  margin: 5px;
}

@media (max-width:991px) {
  
  header {
    padding: 30px;
    justify-content: space-between;
  }

  .main {
    padding: 30px;
    background: #304366;
  }
  .privacy {
    display: none;
  }
  .privacyInmobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffec7b;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .privacyInmobile img {
    margin-right: 10px;
  }

  .privacyInmobile:hover {
    background: #978100;
    color: #fff;
  }

  .privacyInmobile:hover img {
    filter: brightness(0) invert(1);
  }
  .btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .contentBx {
    flex-direction: column-reverse;
    margin: 100px 0;
  }

  .contentBx .text h1 {
    font-size: 4em;
  }

  .button_cont img {
    margin: 5px;
  }
  
  .contentBx .text {
    text-align: center;
  }

  .logoblue img {
   display: none;
  }
}

@media (max-width:400px) {
  .button_cont {
    margin: auto;
    margin-bottom: 10px;
  }
}